.Leela
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.config/BetterDiscord/
.config/Code - OSS/
.config/Dharkael/
.config/QtProject.conf
.config/Sabaki/
.config/Signal/
.config/SweetScape/
.config/Thunar/
.config/autostart/
.config/balena-etcher-electron/
.config/betaflight-configurator/
.config/configstore/
.config/dconf/
.config/discord/
.config/enchant/
.config/gconf/
.config/git/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/ibus/
.config/keepassxc/
.config/mimeapps.list
.config/mirage/
.config/neofetch/
.config/nomacs/
.config/omf/
.config/ownCloud/
.config/pavucontrol.ini
.config/pulse/
.config/qpdfview/
.config/spotify/
.config/xfce4/
.electron/
.emacs.d/.gitignore
.emacs.d/.projectile
.emacs.d/CONTRIBUTING.md
.emacs.d/README.md
.emacs.d/core/
.emacs.d/doc/
.emacs.d/mkdocs.yml
.emacs.d/modules/
.emacs.d/personal/.gitkeep
.emacs.d/personal/preload/
.emacs.d/prelude-cheatsheet.pdf
.emacs.d/sample/
.emacs.d/themes/
.emacs.d/utils/
.emacs.d/vendor/
.esd_auth
.gdb_history
.gnupg/
.gtk-bookmarks
.hplip/
.java/
.local/
.m2/
.mono/
.mozc/
.mozilla/
.node-gyp/
.npm/
.password-store/
.pki/
.pulse-cookie
.pylint.d/
.python_history
.pythonhist
.rustup/
.ssh/
.stack/
.subversion/
.telegram-cli/
.thumbnails/
.thunderbird/
.tor-browser/
.viminfo
.vscode-cpptools/
.vscode-oss/
.xmonad/xmobarrc.errors
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.yarnrc
.zcompcache/
.zcompdump
.zhistory
.zprezto/
Documents/
Downloads/
FKIE
Go_stuff
KeePassX/
LARBS/
MathWorld
WS1920
ownCloud/
static-code-analyzer/
xmobar/
tmp
.gitconfig
.config/dmenufm/
.config/vifm/vifminfo
.dmenufm/
.ghidra/
Ghidra/
work/
.random_wallpaper.png
.config/Riot/
.config/TabNine/
.config/coc/
.config/nvim/
.fzf.bash
.fzf.zsh
.pwntools-cache/
.vim/
.wget-hsts
.pvpn-cli/
redrocket_flags
Documents
SS20
projects/
.htb/
.xournal/
**/aliases
.config/telegram-cli/
.config/systemd/
.config/chromium/
**/__pycache__/
vac/
.config/libreoffice/
.emacs.d/.github/
.emacs.d/transient/
.netrc
MFB
go/
rust_shell/
.ghc/
.emacs.d/.lsp-session-v1
.emacs.d/.python-environments/
.emacs.d/ac-comphist.dat
.xournalpp/
projectEuler
scalerist/
.config/alacritty/colors/
.config/bcompare/
.config/dmenu-frecency/
.config/kitty/kitty-themes/.all-contributorsrc
.config/kitty/kitty-themes/.tools/
.config/kitty/theme.conf
.config/lutris/
.config/zoomus.conf
.lesshst
.tmux.conf
.tmux/
.ts3client/
.wine/
.wine32/
VATSIM/
.aspell.en.prepl
.aspell.en.pws
.config/menus/
VRC.ini
WS2021
debug.txt
.emacs.d/LICENSE
.emacs.d/bin/
.emacs.d/docs/
.emacs.d/early-init.el
.emacs.d/init.example.el
.emacs.d/test/
.emacs.d_backup/
.recovery_codes/
FLT_3_Q8SKVA9114_0.pdf
Uni/
VATSIM
.conan/
.config/Microsoft/
.config/flameshot/
.config/kitty/JetBrains_Darcula.conf
.config/teams/
.env
.texlive/
.thinkvim.d/
AFV-Native/
MA
distributed-systems/
