.Leela
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.config/BetterDiscord/
.config/Code - OSS/
.config/Dharkael/
.config/QtProject.conf
.config/Sabaki/
.config/Signal/
.config/SweetScape/
.config/Thunar/
.config/autostart/
.config/balena-etcher-electron/
.config/betaflight-configurator/
.config/configstore/
.config/dconf/
.config/discord/
.config/enchant/
.config/gconf/
.config/git/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/ibus/
.config/keepassxc/
.config/mimeapps.list
.config/mirage/
.config/neofetch/
.config/nomacs/
.config/omf/
.config/ownCloud/
.config/pavucontrol.ini
.config/pulse/
.config/qpdfview/
.config/spotify/
.config/xfce4/
.electron/
.emacs.d/.gitignore
.emacs.d/.projectile
.emacs.d/CONTRIBUTING.md
.emacs.d/README.md
.emacs.d/core/
.emacs.d/doc/
.emacs.d/mkdocs.yml
.emacs.d/modules/
.emacs.d/personal/.gitkeep
.emacs.d/personal/preload/
.emacs.d/prelude-cheatsheet.pdf
.emacs.d/sample/
.emacs.d/themes/
.emacs.d/utils/
.emacs.d/vendor/
.esd_auth
.gdb_history
.gnupg/
.gtk-bookmarks
.hplip/
.java/
.local/
.m2/
.mono/
.mozc/
.mozilla/
.node-gyp/
.npm/
.password-store/
.pki/
.pulse-cookie
.pylint.d/
.python_history
.pythonhist
.rustup/
.ssh/
.stack/
.subversion/
.telegram-cli/
.thumbnails/
.thunderbird/
.tor-browser/
.viminfo
.vscode-cpptools/
.vscode-oss/
.xmonad/xmobarrc.errors
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.yarnrc
.zcompcache/
.zcompdump
.zhistory
.zprezto/
Documents/
Downloads/
FKIE
Go_stuff
KeePassX/
LARBS/
MathWorld
WS1920
ownCloud/
static-code-analyzer/
xmobar/
tmp
.gitconfig
.config/dmenufm/
.config/vifm/vifminfo
.dmenufm/
.ghidra/
Ghidra/
work/
.random_wallpaper.png
.config/Riot/
.config/TabNine/
.config/coc/
.config/nvim/
.fzf.bash
.fzf.zsh
.pwntools-cache/
.vim/
.wget-hsts
.pvpn-cli/
redrocket_flags
Documents
SS20
projects/
.htb/
