.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.bashrc.aliases
.cache/
.config/.mono/
.config/Code - OSS/
.config/KeePass/
.config/Trolltech.conf
.config/autostart/
.config/brasero/
.config/compton.conf
.config/configstore/
.config/conky.conf
.config/dconf/
.config/dleyna-renderer-service.conf
.config/enchant/
.config/evince/
.config/evolution/
.config/fontconfig/
.config/gconf/
.config/gedit/
.config/git/
.config/gtk-2.0/
.config/gtk-3.0/
.config/i3/
.config/i3status/
.config/kdeglobals
.config/keepassx/
.config/lxterminal/
.config/mimeapps.list
.config/nautilus/
.config/neofetch/
.config/nitrogen/
.config/openbox/
.config/plank/
.config/pulse/
.config/qpdfview/
.config/qt5ct/
.config/qtcurve/
.config/qutebrowser/
.config/razor/
.config/terminology/
.config/tint2/
.config/totem/
.config/transmission/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/volumeicon/
.config/xfce4/
.config/yad.conf
.cups/
.dmrc
.e/
.electron/
.elementary/
.emacs.d/.cache/
.emacs.d/.gitignore
.emacs.d/.projectile
.emacs.d/.python-environments/
.emacs.d/CONTRIBUTING.md
.emacs.d/README.md
.emacs.d/ac-comphist.dat
.emacs.d/core/
.emacs.d/irony/
.emacs.d/modules/
.emacs.d/prelude-cheatsheet.pdf
.emacs.d/sample/
.emacs.d/themes/
.emacs.d/utils/
.emacs.d/vendor/
.esd_auth
.gitconfig
.gnupg/
.gtk-bookmarks
.gtkrc-2.0
.hplip/
.i2p/
.i2pd/
.java/
.keysnail.js
.local/
.mono/
.mozilla/
.msf4/
.node-gyp/
.npm/
.pki/
.python_history
.pythonhist
.recently-used
.thunderbird/
.tor-browser-en/
.vscode-oss/
.waterfox/
.waterfox_backup/
.xscreensaver
.xsession-errors
.xsession-errors.old
.yarnrc
.zcompcache/
.zcompdump
.zgen/
.zhistory
.zprezto
.zsh-update
Desktop/
Documents/
Downloads/
Pictures/
stddoc.c/
.virtualenvs/
.config/dleyna-server-service.conf
.oracle_jre_usage/
.config/QtProject.conf
.config/keepassxc/
.config/pavucontrol.ini
.config/polybar/old/
.config/vlc/
.CLion2018.2/
.config/menus/
.ssh/
.viminfo
.cargo/
.emacs.d/BACKUP/
.rustup/
.aspell.en.prepl
.aspell.en.pws
.config/eog/
.config/etcher-electron/
.emacs.d/anaconda-mode/
.config/chromium/
.config/wireshark/
.config/htop/
ownCloud/
.wget-hists
.telegram-cli
.config/ownCloud/
.config/Thunar/
.emacs.d/doc/
.emacs.d/mkdocs.yml
.emacs.d/personal/preload/
.emacs.d/personal/.gitkeep
.emacs.d/personal/.dir-locals
LARBS/
.config/omf
.config/spotify/
.config/Signal/
.cabal/
.config/mirage/
.config/nomacs/
.thumbnails/
.config/balena-etcher-electron/
.config/Sabaki/
.ghc/
.pulse-cookie
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux
ghidraTest/
.gdb_history
2019*
MEAN.png
.config/discord/
.config/BetterDiscord/
.tor-browser-en-us/
KeePassX/
.stack/
PFSG/
.config/ibus/
.mozc/
fuzzer.key
.config/exercism/
.xmonad/xmobarrc.errors
.kombilo/
.subversion/
Go_stuff
amazon_10.png
.Leela
.m2/
Cockpit/
WS1920
tmp.sh
MathWorld
RAMDisk/
offsec_misc_projects/
.config/Dharkael/
FKIE
.password-store/
react-doc/
.config/betaflight-configurator/
